body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
  height: 100vh;
  width: 100vw;
}

/* Make our root app take up the full screen */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}